p{
    color:red;
    
}
body
{
    background:black;
}
tr 
{
    float:left;
    border:black;
    text-align:center;
    background:green;
    padding:0px;
}
table,tr{
    border-style: solid;
    border-width: medium;
    border-color:black;
    padding:2px;
}
td
{
font-size:200%;
}
img
{
    float:left;
    color:red;
     max-width: 500px;
    height: 100px;
   
}