
table{
   background-color:black;
   margin-right:auto;
   margin-left:auto;
}
table,th,td{
    border: 1px solid;
    border-color:white;
}
td
{
 text-align:center;
}
.zeros
{
    font-size:40px;
}
p
{
    text-align:center;
    color:red;
    font-size:20px;
}
